
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Of Pet Owner</h2>

<br/>
<div class="container">
    <input type="button" class="btn btn-primary" value="Get Owners Having Cat" onclick="location.href='@Url.Action("GetOwnerWithCat", "People")'" />

</div>
<br/>
<div class="container">
  @Html.Partial("_OwnerTable");
</div>


