
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>List Of Pet Owners</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <input id="btnGet" type="button" class="btn btn-info" value="Get Owner Having Cats" />
        <input id="btnClear" type="button" class="btn btn-danger" value="Clear" />
    </div>
    <div class="panel-body">
        <ul id="ulPepole" class="list-group"></ul>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var peoplelist = $('#ulPepole');

        $('#btnGet').click(function () {
            $.ajax({
                type: 'GET',
                url: "http://agl-developer-test.azurewebsites.net/people",
                dataType: 'json',
                success: function (data) {
                    peoplelist.empty();
                    $.each(data,
                        function (index, val) {
                            var li = $('<li id=' + val.gender + '>' + val.gender + '</li>');
                            var childUl = $('<ul id=' + val.gender + 'list >' + '</ul>');
                            var petUl = $('<ul id=' + val.name + 'spets>' + '</ul>');
                            var liOfchildUl = $('<li>' + val.name + '</li>').append(petUl).appendTo(childUl);

                                li.append(childUl);


                            if (peoplelist.find('#' + val.gender).length === 0) {
                                peoplelist.append(li);
                            } else {
                                var ul = $('ul #' + val.gender + 'list');
                                liOfchildUl.appendTo(ul);
                            }

                            if (val.pets != null) {
                                var petlist = $('#' + val.name + 'spets');
                                $.each(val.pets,
                                    function (index, val) {
                                        if (val.type === 'Cat') {
                                            $('<li>' + val.type + " : " + val.name + '</li>').appendTo(petlist);
                                        }

                                    });
                            }

                        });
                }

            });
        });

        $('#btnClear').click(function () {
            peoplelist.empty();
        });

    });
</script>