
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Solutions Using</h2>


<input type="button" class="btn btn-primary" value="C# & HttpClient" onclick="location.href='@Url.Action("Index", "People")'" />
<input type="button" class="btn btn-primary" value="Javascript & Jquery" onclick="location.href='@Url.Action("Index", "PeopleJquery")'" />